#mt.svelte-kuawuh.svelte-kuawuh{margin:auto;width:600px;border:solid 1px black;border-radius:6px;box-shadow:1px 1px 4px inset #000;background-color:#e0ffff}#mt.svelte-kuawuh circle.svelte-kuawuh{cursor:pointer}
